@import '/src/scss/mixins.scss';

.detailInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;

  > img {
    width: 200px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .btns {
      display: flex;
      justify-content: right;
      align-items: center;
      gap: 8px;

      > button {
        @include linearBtn();
      }
    }

    .memberId {
      opacity: 0.5;
      font-size: 14px;
    }
  }
}
