@import '/src/scss/mixins.scss';

.detailInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;

  /* 태블릿 */
  @media (max-width: 992px) {
    flex-direction: column;
  }

  > img {
    width: 240px;
    height: 240px;

    /* 작은 모니터 */
    @media (max-width: 1200px) {
      width: 240px;
      height: 240px;
    }
    /* 태블릿 */
    @media (max-width: 992px) {
      width: 300px;
      height: 300px;
    }
    /* 모바일 */
    @media (max-width: 768px) {
    }

    /* 작은모바일 */
    @media (max-width: 576px) {
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .btns {
      display: flex;
      justify-content: right;
      align-items: center;
      gap: 8px;

      > button {
        @include linearBtn();
      }
    }

    .memberId {
      opacity: 0.5;
      font-size: 14px;
    }
  }
}
