.caseItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    min-width: 250px;
    min-height: 200px;
    border-radius: 4px;
  }
  h2 {
    margin: 20px auto 10px;
    font-weight: 500;
    font-size: 20px;
  }
  h3 {
    font-weight: 500;
    font-size: 18px;
  }
  p {
    font-size: 16px;
    padding: 10px;
    letter-spacing: 0.35px;
    line-height: 19px;
  }

  @media (max-width: 1500px) {
    img {
      min-width: 230px;
      min-height: 180px;
    }
  }
  @media (max-width: 1200px) {
    img {
      min-width: 220px;
      min-height: 180px;
    }
  }

  @media (max-width: 992px) {
    img {
      min-width: 200px;
      min-height: 180px;
    }
  }
  @media (max-width: 768px) {
    img {
      min-width: 170px;
      min-height: 160px;
    }
  }
  @media (max-width: 676px) {
    p {
      max-width: 250px;
    }
    img {
      max-width: 280px;
      min-height: 250px;
    }
  }
  @media (max-width: 400px) {
    img {
      max-width: 250px;
      min-height: 220px;
    }
  }
}
