.caseItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 200px;
    height: 250px;
  }
  h2 {
    margin: 20px auto;
    font-weight: 500;
    font-size: 20px;
  }
  h3 {
    font-weight: 500;
    font-size: 18px;
  }
  p {
    font-size: 16px;
    padding: 10px;
    letter-spacing: 0.35px;
    line-height: 19px;
  }
}
