.farm {
  margin: 60px;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 30px;
  .farm_img {
    img {
      width: 450px;
    }
  }
  .farm_title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    span {
      font-size: 40px;
      color: var(--accent-color);
      font-family: var(--title-font);
      padding-right: 8px;
    }
    h2 {
      font-family: var(--title-font);
      // color: var(--common-color);
      font-size: 40px;
    }
    p {
      width: 450px;
      font-size: 20px;
    }
  }
}
.technology_img {
  position: relative;
  width: 100%;
  height: 350px;
  &::after {
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}
.core {
  position: relative;
  h1 {
    position: absolute;
    top: 45%;
    left: 20%;
    color: #fff;
    font-size: 50px;
  }
}
.core_items {
  &:nth-child(odd) {
    background-color: #fff5e4;
  }
  .core_item {
    // display: flex;
    // padding: 0 50px;
    // flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    padding: 10px 0;

    img {
      width: 300px;
      height: 250px;
      margin-right: 100px;
    }
    h2 {
      font-size: 30px;
      color: var(--common-color);
      font-family: var(--title-font);
      padding: 0 0 10px 0;
    }
    p {
      padding: 5px 0 5px 8px;
      font-size: 18px;
    }
  }
}
.peoples {
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-direction: column;
  margin: 100px 0;
  gap: 100px;

  p {
    padding-left: 100px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
  }
}
.people {
  display: flex;
  justify-content: center;
  gap: 30px;
  span {
    display: block;
    padding: 8px 0;
    font-size: 20px;
    background-color: #fff5e4;
    border-radius: 8px;
    text-align: center;
  }

  img {
    width: 150px;
    height: 250px;
  }
}
.system {
  margin: 120px 100px;
}
.people_title {
  font-size: 18px;
  color: rgb(0, 0, 0, 0.3);
  padding: 5px 0;
}

@media (max-width: 1200px) {
  .farm {
    margin: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 30px;
    .farm_img {
      img {
        width: 450px;
      }
    }
    .farm_title {
      display: flex;
      flex-direction: column;
      gap: 16px;
      span {
        font-size: 40px;
        color: var(--accent-color);
        font-family: var(--title-font);
        padding-right: 8px;
      }
      h2 {
        font-family: var(--title-font);
        // color: var(--common-color);
        font-size: 40px;
      }
      p {
        width: 450px;
        font-size: 20px;
      }
    }
  }
  .technology_img {
    position: relative;
    width: 100%;
    height: 350px;
    &::after {
      position: absolute;
      top: 0;
      background: linear-gradient(
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
      content: "";
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
  }
  .core {
    position: relative;
    h1 {
      position: absolute;
      top: 45%;
      left: 20%;
      color: #fff;
      font-size: 50px;
    }
  }
  .core_items {
    &:nth-child(odd) {
      background-color: #fff5e4;
    }
    .core_item {
      // display: flex;
      // padding: 0 50px;
      // flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      display: flex;
      padding: 10px 0;

      img {
        width: 300px;
        height: 250px;
        margin-right: 100px;
      }
      h2 {
        font-size: 30px;
        color: var(--common-color);
        font-family: var(--title-font);
        padding: 0 0 10px 0;
      }
      p {
        padding: 5px 0 5px 8px;
        font-size: 18px;
      }
    }
  }
  .peoples {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    gap: 20px;

    p {
      padding-left: 100px;
      padding-bottom: 5px;
      text-align: center;
      font-size: 20px;
    }
  }
  .people {
    display: flex;
    justify-content: center;
    gap: 10px;

    img {
      width: 150px;
      height: 250px;
    }
  }
  .system {
    margin: 100px 80px;
  }
}
/* 태블릿 */
@media (max-width: 992px) {
  .farm {
    gap: 0;
    margin: 20px;
    .farm_img {
      img {
        width: 200px;
      }
    }
    .farm_title {
      gap: 0px;
      span {
        font-size: 23px;
        padding-right: 6px;
      }
      h2 {
        font-size: 23px;
      }
      p {
        width: 100%;
        font-size: 16px;
      }
    }
  }
  .technology_img {
    position: relative;
    height: 250px;

    img {
      height: 250px;
    }
  }
  .core_items {
    .core_item {
      padding: 0;
      margin: 0 50px;

      img {
        width: 200px;
        height: 150px;
        margin-right: 50px;
      }
      h2 {
        font-size: 24px;
        padding: 8px 0;
      }
      p {
        padding: 8px 0;
        font-size: 18px;
      }
    }
  }
  .peoples {
    flex-direction: column;
    margin: 20px 0;
    gap: 10px;
  }
  .people {
    gap: 3px;
    span {
      display: block;
      padding: 2px 0;
      font-size: 18px;
      background-color: #fff5e4;
      border-radius: 8px;
      text-align: center;
    }

    img {
      width: 120px;
      height: 200px;
    }
  }
  .system {
    margin: 0;
  }
  .people_title {
    font-size: 18px;
    color: rgb(0, 0, 0, 0.3);
    padding: 5px 0;
  }
}

// 모바일
@media (max-width: 768px) {
  .farm {
    gap: 0;
    margin: 20px;
    .farm_img {
      img {
        width: 200px;
      }
    }
    .farm_title {
      gap: 0px;
      span {
        font-size: 23px;
        padding-right: 6px;
      }
      h2 {
        font-size: 23px;
      }
      p {
        width: 100%;
        font-size: 16px;
      }
    }
  }
  .technology_img {
    position: relative;
    height: 250px;

    img {
      height: 250px;
    }
  }
  .core_items {
    .core_item {
      padding: 0;
      margin: 0 50px;

      img {
        width: 200px;
        height: 150px;
        margin-right: 50px;
      }
      h2 {
        font-size: 24px;
        padding: 8px 0;
      }
      p {
        padding: 8px 0;
        font-size: 18px;
      }
    }
  }
  .peoples {
    flex-direction: column;
    margin: 20px 0;
    gap: 10px;
  }
  .people {
    gap: 3px;
    span {
      display: block;
      padding: 2px 0;
      font-size: 18px;
      background-color: #fff5e4;
      border-radius: 8px;
      text-align: center;
    }

    img {
      width: 120px;
      height: 200px;
    }
  }
  .system {
    margin: 0;
  }
  .people_title {
    font-size: 18px;
    color: rgb(0, 0, 0, 0.3);
    padding: 5px 0;
  }
}
//작은 모바일
@media (max-width: 576px) {
  .farm {
    gap: 10px;
    margin: 20px 0;
    .farm_img {
      img {
        width: 100px;
      }
    }
    .farm_title {
      gap: 8px;
      span {
        font-size: 20px;
        padding-right: 6px;
      }
      h2 {
        font-size: 20px;
      }
      p {
        width: 100%;
        font-size: 12px;
      }
    }
  }

  .core_items {
    .core_item {
      width: 90%;
      padding: 0;
      margin: 0 0 0 20px;

      img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
      }
      h2 {
        font-size: 18px;
        padding: 8px 0;
        width: 100%;
      }
      p {
        padding: 6px 0;
        font-size: 12px;
      }
    }
  }
  .peoples {
    flex-direction: column;
    margin: 10px 0;
    gap: 10px;
  }
  .people {
    gap: 0px;
    span {
      display: block;
      padding: 4px 0;
      font-size: 14px;
      background-color: #fff5e4;
      border-radius: 8px;
      text-align: center;
    }

    img {
      width: 80px;
      height: 150px;
    }
  }
  .core {
    position: relative;
    h1 {
      position: absolute;
      top: 45%;
      left: 20%;
      color: #fff;
      font-size: 20px;
    }
  }
  .technology_img {
    position: relative;
    width: 100%;
    height: 150px;
    &::after {
      position: absolute;
      top: 0;
      background: linear-gradient(
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
      content: "";
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }
}
