.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.state {
  padding: 10px;
  div {
    display: flex;
    gap: 15px;
  }
  button {
    font-size: 18px;
  }
}
.category {
  div {
    display: flex;
    gap: 20px;
  }
  button {
    font-size: 18px;
  }
}

.content {
  padding: 20px;

  h3 {
    font-size: 17px;
  }
  h2 {
    font-size: 19px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  p {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
  }
  section {
    padding: 20px;
    border: 1px solid #dedede;
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;

    button {
      border: 1px solid #ddd;
      border-radius: 8px;
      margin: 5px 3px 7px;
      padding: 10px 13px;
      font-weight: 500;
    }
  }
}

.flex_box {
  div {
    display: flex;
  }
}

.profile {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

  img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
}

.post {
  flex-direction: column;
  padding: 10px;

  img {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .title {
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;

    div {
      align-items: center;
    }
  }
  h3 {
    padding-left: 7px;
  }
}

.comment {
  justify-content: space-between;
  padding: 10px;

  h4 {
    color: gray;
  }
}

.care {
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 15px;
  border-bottom: 1px solid var(--common-color);
  padding: 3px;
}

.processBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  button {
    padding: 10px 15px;
    border: 1px solid var(--common-color);
    border-radius: 8px;
  }
}

// 게시글 승인 모달
.container {
  margin: 30px;
  padding: 10px;
}

.modlaTitle {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  margin: 10px;

  div {
    display: flex;
    align-items: center;
  }

  h2 {
    margin-bottom: 25px;
  }

  p {
    font-size: 14px;
    color: gray;
  }
}

.profile {
  img {
    width: 70px;
    border-radius: 50%;
  }
}

.titleBar {
  width: 70%;
  display: flex;
  // justify-content: space-between;
  gap: 80px;
}

.modlaContent {
  min-height: 300px;
  padding: 30px 50px 40px;
  border-bottom: 1px solid #ddd;
  letter-spacing: 0.5px;
  white-space: pre-line;

  div {
    width: 100%;

    img {
      margin-top: 30px;
      max-width: 60%;
      height: auto;
    }
  }
}
