.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.state {
  padding: 10px;
  div {
    display: flex;
    gap: 15px;
  }
  button {
    font-size: 18px;
  }

  @media (max-width: 576px) {
    button {
      font-size: 17px;
    }
  }
}

.category {
  div {
    display: flex;
    gap: 20px;
  }
  button {
    font-size: 18px;
  }

  .active {
    border-bottom: 2px solid var(--accent-color);
  }

  @media (max-width: 576px) {
    div {
      gap: 10px;
    }
    button {
      font-size: 16px;
    }
  }
}

.content {
  padding: 20px;

  h1 {
    font-size: 18px;
    font-weight: 200;
  }
  h2 {
    font-size: 19px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  h3 {
    font-size: 17px;
  }
  h4 {
    font-size: 15px;
  }
  section {
    padding: 20px;
    border: 1px solid #dedede;
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
    margin-top: 5px;

    button {
      border: 1px solid #ddd;
      border-radius: 8px;
      margin: 5px 3px 7px;
      padding: 10px 13px;
      font-weight: 500;
    }
  }

  @media (max-width: 992px) {
    padding: 10px;

    h4 {
      font-size: 14px;
    }
  }
  @media (max-width: 768px) {
    section {
      padding: 10px;
    }
    h2 {
      font-size: 18px;
    }
    h4 {
      font-size: 12px;
    }
    h3 {
      font-size: 16px;
    }
  }
  @media (max-width: 576px) {
    h1 {
      font-size: 16px;
    }
    h2 {
      font-size: 16px;
    }
    h4 {
      font-size: 12px;
    }
    h3 {
      font-size: 15px;
    }

    button {
      font-weight: 400;
    }
  }
}

.hide {
  display: none;
}

// 각 파트 스타일 시작
.flex_box {
  h2,
  h3,
  h4 {
    font-family: "TheJamsil";
  }

  div {
    display: flex;
  }
}

// 프로필
.profile {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: 500;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
}

// 게시물
.post {
  flex-direction: column;
  padding: 15px;
}
.title {
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  gap: 10px;

  h2 {
    font-weight: 500;
  }

  div {
    align-items: center;

    h4 {
      font-weight: 400;
    }
    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
}

.summary {
  display: flex;
  flex-direction: column;
  min-height: 80px;

  h3 {
    font-weight: 400;
    margin-bottom: 10px;
    padding-left: 7px;
  }
  img {
    width: 220px;
    border-radius: 4px;
  }
}

// 댓글
.comment {
  justify-content: space-between;
  padding: 10px;

  h4 {
    color: gray;
  }
}

//공통
.care {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 15px;
  border-bottom: 1px solid var(--common-color);
  padding: 3px;

  .careUser {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
    .careUser {
      font-size: 15px;
      flex-direction: column;
    }
  }
  @media (max-width: 576px) {
    .careUser {
      font-size: 14px;
    }
  }
}

.processBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;

  button {
    padding: 10px 15px;
    border: 1px solid var(--common-color);
    border-radius: 8px;

    &:hover {
      background-color: var(--common-color);
    }
  }

  @media (max-width: 576px) {
  }
}

.processed {
  display: flex;
  flex-direction: column;
  gap: 1px;

  p {
    font-size: 15px;
  }
  @media (max-width: 576px) {
    p {
      font-size: 14px;
    }
  }
}

// 게시글 승인 모달
.container {
  min-width: 600px;
  padding: 30px;

  h2 {
    font-family: "TheJamsil";
  }
}

.modalTitle {
  border-bottom: 1px solid #ddd;
  margin: 10px;

  h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
  }
}

.titleBar {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 5px;

  p {
    font-size: 14px;
    color: gray;
  }
}

.modalProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }
}

.modalSummary {
  min-height: 200px;
  padding: 30px 20px;
  // border-bottom: 1px solid #eee;
  letter-spacing: 0.5px;
  white-space: pre-line;

  div {
    width: 100%;

    img {
      margin-top: 30px;
      max-width: 60%;
      height: auto;
    }
  }
}

// 프로필 승인 모달
.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 350px;
}

.modalImg {
  width: 250px;
  height: 250px;
}

.nickname {
  margin-top: 15px;
  text-align: center;
  padding: 5px;

  input {
    font-size: 18px;
    padding: 5px;
    text-align: center;
  }
}

// 댓글 모달
.modlaComment {
  min-width: 400px;
  min-height: 130px;
  padding: 20px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  h3 {
    font-family: "TheJamsil";
    margin-bottom: 3px;
  }

  p {
    font-size: 14px;
    color: gray;
  }
}
