.submit {
  border: 1px solid #000;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0 0 0 / 20%);
  padding: 4px;
  border-radius: 4px;
  margin-left: 175px;
  width: 100%;

  &:hover {
    background-color: #e0e0e0;
  }
}
