.container {
  h2 {
    text-align: center;
  }

  .btns {
    display: flex;
    justify-content: center;
    gap: 8px;

    > button {
      padding: 16px 48px;
      font-size: 20px;
      border-radius: 10px;

      &.submit {
        background-color: var(--common-color);

        &:hover {
          background-color: var(--hover-color);
          color: var(--main-color);
        }
      }

      &.cancel {
        background-color: #eee;

        &:hover {
          background-color: #ddd;
        }
      }
    }
  }
}

// 작은 모니터
@media (max-width: 1200px) {
}

// 태블릿
@media (max-width: 992px) {
}

// 모바일
@media (max-width: 768px) {
}

// 작은모바일
@media (max-width: 576px) {
}
