.myFarm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
    border: 1px solid #eee;
  }

  .content {
    width: 50%;
  }
}
