[build]
  command = "CI=false npm run build"
  publish = "build"
  environment = { NODE_OPTIONS = "--max_old_space_size=4096"}

[context.production.environment]
  TOML_ENV_VAR = "From netlify.toml"
  REACT_APP_TOML_ENV_VAR = "From netlify.toml (REACT_APP_)"

[[redirects]]
  from = "/weather/*"
  to = "https://api.openweathermap.org/:splat"  
  status = 200
  force = true

[[redirects]]
  from = "/desease/*"
  to = "http://ncpms.rda.go.kr/npmsAPI/service/:splat"  
  status = 200
  force = true

[[redirects]]
  from = "/bestfarm/*"
  to = "https://apis.data.go.kr/1390000/SmartFarmdata/:splat"  
  status = 200
  force = true

[[redirects]]
  from = "/smart/*"
  to = "https://www.smartfarmkorea.net/:splat"  
  status = 200
  force = true

[[redirects]]
  from = "/desaster/*"
  to = "https://www.safetydata.go.kr/:splat"  
  status = 200
  force = true

[[redirects]]
  from = "/payment/*"
  to = "https://api.portone.io/v1/payments/cancel/:splat"  
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200