.weather {
  display: flex;
  .today {
    width: 20%;
    background-color: antiquewhite;
    height: 250px;
    display: flex;
    justify-content: center;
    img {
      width: 150px;
      height: 200px;
      display: block;
    }
    border-right: 3px solid var(--accent-color);
  }

  .weather_menu {
    display: flex;
    flex-direction: column;
    .mr_today {
      background-color: aqua;
      flex: 2;
      width: 100%;
      display: flex;
      gap: 10px;
      border: 1px solid var(--accent-color);
    }

    .next_day {
      background-color: pink;
      flex: 1.5;
    }
  }
}
