.payment {
  .main {
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--common-color);
    border-radius: 8px;
    padding: 20px 0;
    width: 900px;
    margin: 10px 0;
    div {
      p {
        margin: 20px;
      }
    }
  }
  .farm {
    padding: 10px 0;
  }
  .option {
    h2 {
      font-size: 24px;
    }
    .options {
      display: flex;
      // flex-direction: column;
      border-radius: 8px;
      padding: 20px 10px;
      gap: 12px;
      // border: 2px solid var(--common-color);
      justify-content: space-around;
      width: 170px;
      ul {
        border: 2px solid var(--common-color);
        // width: 160px;
        li {
          box-shadow: var(--down-shadow);
          width: 150px;
          padding: 8px;
          text-align: center;
          margin-bottom: 10px;
        }
      }
    }
    // font-size: 20px;
  }
  .additionalOptions {
    display: flex;
    flex-direction: row;
    .farm_main {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        li {
          box-shadow: var(--down-shadow);
          padding: 8px 0;
          width: 150px;
          text-align: center;
        }
      }
    }
  }
  .pay_button {
    display: flex;
    gap: 16px;
    button {
      border: 2px solid #ececec;
      padding: 8px;
      border-radius: 8px;
    }
  }
}
