@import '/src/scss/mixins.scss';

.main {
  @include flexCenter();
  gap: 16px;
  font-size: 20px;
}

.mainMenu {
  position: relative;
}

.depth {
  position: absolute;
  top: 100%;
  left: 0;
}

.spot {
  margin-bottom: 16px;
  font-size: 14px;
  ul {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 8px;
  }
}
