@import '/src/scss/mixins.scss';

.nav {
  padding-top: 24px;

  &.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;
    height: max-content;
    opacity: 1;
    transition: 0.3s;
    box-shadow: var(--box-shadow);

    @media (max-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #fff;
      color: #333;
    }

    /* 작은모바일 */
    @media (max-width: 576px) {
    }
  }

  /* 모바일 */
  @media (max-width: 768px) {
    padding: 0;
    height: 0;
    opacity: 0;
  }

  /* 작은모바일 */
  @media (max-width: 576px) {
    padding: 0;
    height: 0;
    opacity: 0;
  }
}

.main {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 20px;
  .mainMenu {
    > a {
      display: block;
      padding: 16px;
      width: 100%;
      height: 100%;
      /* 모바일 */
      @media (max-width: 768px) {
        height: auto;
      }

      /* 작은모바일 */
      @media (max-width: 576px) {
        height: auto;
      }
    }

    &:last-child > a {
      padding-right: 0;
    }

    &:hover > a {
      color: var(--hover-color);
    }

    &:hover .depthWrapper {
      top: 100%;
      visibility: visible;
      opacity: 1;
      background-color: #fff;
    }

    .depthWrapper {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: calc(100% - 50px);
      left: 0;
      right: 0;
      z-index: -5;
      width: 100%;
      background-color: var(--main-color);
      box-shadow: var(--down-shadow);
      transition: 0.3s;

      /* 모바일 */
      @media (max-width: 768px) {
        background-color: #fff;
      }

      /* 작은모바일 */
      @media (max-width: 576px) {
        background-color: #fff;
      }

      .depth {
        display: flex;
        justify-content: right;
        gap: 24px;
        margin: 0 auto;
        width: 1200px;
        font-size: 16px;
        color: #808080;

        li {
          padding: 16px 0;
          text-align: center;

          a {
            width: 100%;
            height: 100%;
          }

          &:last-child {
            border-bottom: 0;
          }

          &:hover a {
            color: var(--hover-color);
          }
        }

        /* 작은 모니터 */
        @media (max-width: 1200px) {
          width: 80%;
        }
        /* 태블릿 */
        @media (max-width: 992px) {
          width: 80%;
        }
      }
    }
  }

  &.showMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    .mainMenu {
      text-align: center;
      > a {
        padding: 16px 16px 8px;
        color: var(--accent-color);
      }
      &:hover > a {
        color: var(--hover-color);
      }

      .depthWrapper {
        position: static;
        visibility: visible;
        width: 100%;
        opacity: 1;
        box-shadow: none;

        .depth {
          display: block;
          width: 100%;
          font-size: 14px;
          color: #808080;

          li {
            padding: 8px;
            text-align: center;

            a {
              width: 100%;
              height: 100%;
            }

            &:last-child {
              border-bottom: 0;
            }

            &:hover a {
              color: var(--hover-color);
            }
          }
        }
      }
    }
  }
  /* 모바일 */
  @media (max-width: 768px) {
    display: none;
  }

  /* 작은모바일 */
  @media (max-width: 576px) {
    display: none;
  }
}

.spot {
  font-size: 14px;

  ul {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 8px;

    li {
      &:not(.welcome):hover {
        color: var(--hover-color);
      }
    }
  }

  &.showMenu {
    display: block;

    ul {
      flex-wrap: wrap;
      justify-content: center;
      gap: 16px;

      li {
        position: relative;
        font-size: 24px;

        a {
          @include flexCenter();
        }
        &.welcome {
          width: 100%;
          text-align: center;

          /* 모바일 */
          @media (max-width: 768px) {
            font-size: 18px;
          }

          /* 작은모바일 */
          @media (max-width: 576px) {
            font-size: 16px;
          }
        }

        &:not(.welcome):hover {
          &.loggingIn::before,
          &.loggingIn::after {
            content: '';
            position: absolute;
          }

          &.loggingIn::before {
            top: 120%;
            left: 50%;
            width: 10px;
            height: 10px;
            transform: translateX(-50%) rotate(45deg);
            border-radius: 3px;
            background-color: var(--common-color);
          }
          &.loggingIn::after {
            top: 135%;
            left: -150%;
            padding: 8px 0;
            width: 100px;
            text-align: center;
            font-size: 14px;
            background-color: var(--common-color);
            border-radius: 3px;
          }
          &.gotoMyfarm {
            &::after {
              content: '내 농장';
            }
          }
          &.gotoMypage {
            &::after {
              content: '마이페이지';
            }
          }
          &.logout {
            &::after {
              content: '로그아웃';
            }
          }
        }
      }
    }
  }
  /* 모바일 */
  @media (max-width: 768px) {
    display: none;
  }
}

.navContact {
  margin-top: 24px;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    > button {
      font-size: 48px;
      color: var(--common-color);

      &:hover {
        color: var(--hover-color);
      }
    }
  }
}
