@import "/src/scss/mixins.scss";
.main {
  display: flex;
  border: 2px solid var(--common-color);
  padding: 10px;
  width: 65%;
  margin: 20px 0;
  gap: 20px;
  justify-content: center;
  align-items: center;
  span {
    font-size: 18px;
  }
  .menu {
    display: flex;

    flex-direction: column;
  }
  .input {
    margin: 10px;
    display: flex;
    align-items: center;
    .input_item {
      display: flex;
      align-items: center;
      gap: 10px;
      input {
        border-bottom: 2px solid var(--hover-color);
        width: 320px;
        font-size: 20px;
        padding: 10px;
      }
    }
  }
  .select_box {
    margin: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .select_box_item {
      display: flex;
      align-items: center;
      gap: 10px;
      select {
        border: none;
        border-bottom: 2px solid var(--hover-color);
      }
      span {
        margin: 0 8px 0 0;
      }
      select {
        width: 100px;
        height: 40px;
        padding: 0;
      }
    }
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    display: flex;
    @include packedBtn($padding: 20px 40px);
    border-radius: 8px;
    > span {
      @include flexCenter();

      gap: 5px;
      > svg {
        font-size: 24px;
      }
    }
  }
}
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    color: var(--hover-color);
    font-size: 25px;
    display: flex;
    align-items: center;

    &:hover {
      color: var(--common-color);
    }
  }
}

// 작은모바일
@media (max-width: 576px) {
  .main {
    display: flex;
    border: 2px solid var(--common-color);
    padding: 0;
    width: 100%;
    margin: 20px 0;
    gap: 0px;
    span {
      font-size: 1rem;
    }
    .menu {
      display: flex;
      flex-direction: column;
    }
    .input {
      margin: 10px;
      display: flex;
      align-items: center;
      .input_item {
        display: flex;
        align-items: center;
        gap: 10px;
        input {
          border-bottom: 2px solid var(--hover-color);
          width: 200px;
          font-size: 20px;
          padding: 10px;
        }
      }
    }
    .select_box {
      margin: 6px 16px;
      display: flex;
      align-items: center;

      // justify-content: space-between;

      .select_box_item {
        display: flex;
        align-items: center;
        gap: 10px;
        select {
          border: none;
          border-bottom: 2px solid var(--hover-color);
        }
        span {
          margin: 0 8px 0 0;
        }
        select {
          width: 50px;
          height: 40px;
          padding: 0;
        }
      }
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      // display: flex;
      // margin-right: 6px;
      @include packedBtn($padding: 12px 6px);
      border-radius: 8px;
      > span {
        @include flexCenter();

        gap: 5px;
        > svg {
          display: none;
        }
      }
    }
  }
}
