.main {
  display: flex;
  border: 2px solid #ececec;
  padding: 10px;
  width: 65%;
  margin: 20px 0;
  gap: 20px;
  span {
    font-size: 18px;
  }
  .menu {
    display: flex;

    flex-direction: column;
  }
  .input {
    margin: 10px;
    display: flex;
    align-items: center;
    .input_item {
      display: flex;
      align-items: center;
      gap: 10px;
      input {
        border: 1px solid black;
        width: 320px;
        font-size: 20px;
        padding: 10px;
      }
    }
  }
  .select_box {
    margin: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .select_box_item {
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        margin: 0 8px 0 0;
      }
      select {
        width: 100px;
        height: 40px;
        padding: 0;
      }
    }
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 40px;
    font-size: 25px;
    border-radius: 8px;
    &:hover {
      color: var(--hover-color);
      border: 1px solid var(--hover-color);
    }
  }
}
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    font-size: 25px;
    display: flex;
    align-items: center;

    &:hover {
      color: var(--hover-color);
    }
  }
}
