// @media (max-width: 1024px) {
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  .list {
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      gap: 10px;
    }
    // li {
    //   border-bottom: 1px solid #ececec;
    //   border-radius: 6px;
    //   margin: 6px 0;
    //   box-shadow: var(--box-shadow);
    //   // width: 600px;
    //   text-align: center;
    //   padding: 20px;
    // }
  }
}
// }

// 모바일
@media (max-width: 768px) {
  .list {
    width: 500px;
    display: flex;
  }
}

//작은모바일
@media (max-width: 576px) {
  .list {
    width: 350px;
    display: flex;
    align-items: center;
    ul {
      gap: 0px;
    }
  }
}
