@import '/src/scss/mixins.scss';

.container {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  .links {
    flex: none;
    width: 20%;
  }

  .content {
    flex: 1 1;
  }

  /* 작은 모니터 */
  @media (max-width: 1200px) {
  }
  /* 태블릿 */
  @media (max-width: 992px) {
    flex-direction: column;
    padding: 20px 0;

    .links {
      @include flexCenter();
      gap: 30px;
      width: 100%;
    }
  }

  /* 모바일 */
  @media (max-width: 768px) {
    .links {
      li {
        button {
          font-size: 18px;
        }
      }
    }
  }

  /* 작은모바일 */
  @media (max-width: 576px) {
    .links {
      gap: 16px;
      li {
        button {
          font-size: 16px;
        }
      }
    }
  }
}

.community {
  margin-bottom: 5px;
}
