@import "/src/scss/mixins.scss";

.container {
  display: flex;
  justify-content: space-between;
  gap: 60px;

  .links {
    li {
      padding: 16px 20px;
      font-size: 20px;
      text-align: center;

      button {
        font-size: 20px;
        @include linkEffect();
      }
    }
  }

  .content {
    flex: 1 1;
    // outline: 1px dotted red;
  }
}

.community {
  margin-bottom: 5px;
}
