.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .id {
    font-size: 14px;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 24px;
    .profile {
      width: 80px;
      height: auto;
    }
    .info {
      li {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
        > span {
          &.label {
            display: inline-block;
            margin-left: 0;
            width: 80px;
          }
          margin-left: 5px;
        }
      }
    }
  }
}
