.counsel {
  display: flex;
  flex-direction: column;
  .input {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    input {
      font-size: 25px;
      border: 1px solid black;
      padding: 10px 30px;
    }
  }

  .list {
    background-color: aqua;
    font-size: 20px;
    display: flex;
    justify-content: center;

    li {
      border: 1px solid black;
      padding: 8px 10px;
    }
  }
}
