.footer {
    font-size: 16px;
    font-weight: bold;
    background-color: var(--common-color);
    border-radius: 0 0 20px 20px;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    
    &.noPadding {
      padding: 0; /* 패딩 제거 */
    }
  }


  
  /* .chattingRoom {
    background-color: pink;
    border-radius: 10px;
    position: absolute;
    
  } */

  
  /* src/App.css */
  /* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  } */
  /* .chattingRoom {
    background-color: pink;
    border-radius: 10px;
    position: absolute;
    
  } */
  

  
  // .closeBtn {
  //   width: 16px;
  //   height: 16px;
  // }
