.main {
  display: flex;
  flex-direction: column;
  width: 100%;

  .list {
    display: flex;
    justify-content: center;
    flex-direction: column;

    // align-items: center;
    ul {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    li {
      border: 1px solid #ececec;
      box-shadow: var(--box-shadow);
      margin: 8px 0;
      width: 900px;
      // width: 700px;
      text-align: center;
      padding: 20px;
    }
  }
  .more {
    margin-top: 30px;
    // width: 100%;
    display: flex;
    justify-content: center;
    button {
      padding: 10px;
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
  }
}

/* 작은 모니터 */
@media (max-width: 1200px) {
  .main {
    .list {
      // align-items: center;
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
/* 태블릿 */
//  @media (max-width: 992px) {

//  }

/* 모바일 */
@media (max-width: 768px) {
  .main {
    .list {
      // align-items: center;
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
/* 모바일 */
@media (max-width: 576px) {
  .main {
    .list {
      // align-items: center;
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 16px 0;
        border-radius: 8px;
        p {
          font-size: 14px;
        }
      }
    }
  }
}
