.container {
  margin: 30px;
  padding: 10px;
}
.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  margin: 10px;

  div {
    display: flex;
    align-items: center;
  }

  h2 {
    margin-bottom: 25px;
  }

  p {
    font-size: 14px;
    color: gray;
  }
}

.profile {
  img {
    width: 70px;
    border-radius: 50%;
  }
}

.titleBar {
  width: 70%;
  display: flex;
  // justify-content: space-between;
  gap: 80px;
}

.complain {
  width: 30%;
  display: flex;
  justify-content: end;
}

.test {
  width: 30%;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    // background-color: #eee;
    padding: 3px;
    border-radius: 5px;
    color: gray;
  }
  p {
    margin-top: 2px;
  }
}

.content {
  min-height: 300px;
  padding: 30px 50px 40px;
  border-bottom: 1px solid #ddd;
  letter-spacing: 0.5px;
  white-space: pre-line;

  div {
    width: 100%;

    img {
      margin-top: 30px;
      max-width: 60%;
      height: auto;
    }
  }
}

.modal {
  width: 30%;

  // div {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: flex-start;

  //   label {
  //     display: inline-flex;
  //   }
  // }
}

.comment {
  padding: 30px;

  h2 {
    margin: 20px auto;
  }

  div {
    padding: 20px 10px 15px;
    border-bottom: 1px solid #ddd;
  }
  h4 {
    margin-bottom: 10px;
  }
  p {
    margin-top: 10px;
    font-size: 12px;
    color: gray;
  }
  span {
    margin-left: 5px;
  }
}

.back {
  display: flex;
  justify-content: end;
  margin: 10px;

  button {
    border-bottom: 1px solid #ddd;
    padding: 7px 10px;
    font-size: 14px;
    // border-radius: 8px;

    // &:hover {
    //   background-color: var(--back-color);
    // }
  }
}
