.container {
  padding: 50px;
}

.title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  h2 {
    margin-bottom: 20px;
  }
  div {
    display: flex;
    justify-content: space-between;
    gap: 150px;
  }

  p {
    font-size: 14px;
    color: gray;
  }
}

.content {
  padding: 50px;
  border-bottom: 1px solid #ddd;
}

.comment {
  padding: 30px;

  h2 {
    margin: 20px auto;
  }

  div {
    padding: 20px 10px 15px;
    border-bottom: 1px solid #ddd;
  }
  h4 {
    margin-bottom: 10px;
  }
  p {
    margin-top: 10px;
    font-size: 12px;
    color: gray;
  }
  span {
    margin-left: 5px;
  }
}
.input {
  display: flex;
  justify-content: center;

  input {
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    width: 80%;
    padding: 20px;
  }
  button {
    padding: 30px;
    margin-left: 20px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 0.75px;
  }
}

.back {
  display: flex;
  justify-content: end;
  margin-top: 30px;

  button {
    padding: 10px 20px;
    font-size: 14px;
  }
}
