.system {
  display: flex;
  margin: 100px;
  gap: 50px;

  &:nth-child(even) {
    // margin-left: 400px;
    flex-direction: row-reverse;
  }
  h3 {
    font-size: 30px;
    margin-top: 50px;
    padding: 10px 0;
    color: var(--accent-color);
    font-family: var(--title-font);
  }
  img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    animation: slideIn 3s ease forwards;
    opacity: 0;
  }
  p {
    width: 500px;
    font-size: 20px;
    // margin-top: 50px;
  }
}
.slideIn:nth-child(1) {
  animation-delay: 0s;
}
.slideIn:nth-child(2) {
  animation-delay: 5s;
}
.slideIn:nth-child(3) {
  animation-delay: 10s;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 1200px) {
  .system {
    display: flex;
    margin: 80px;
    gap: 30px;

    // &:nth-child(even) {
    //   // margin-left: 400px;
    //   flex-direction: row-reverse;
    // }
    h3 {
      font-size: 25px;
      margin-top: 20px;
      padding: 10px 0;
    }
    img {
      width: 350px;
      height: 250px;
      border-radius: 10px;
      position: relative;
      animation: slideIn 3s ease forwards;
      opacity: 0;
    }
    p {
      width: 100%;
      font-size: 20px;
      // margin-top: 50px;
    }
  }
}
// /* 태블릿 */
// @media (max-width: 992px) {
// }

// 모바일
@media (max-width: 768px) {
  .system {
    display: flex;
    margin: 30px;
    gap: 20px;

    &:nth-child(even) {
      // margin-left: 400px;
      flex-direction: row-reverse;
    }
    h3 {
      font-size: 26px;
      margin-top: 20px;
      color: var(--accent-color);
      font-family: var(--title-font);
    }
    img {
      width: 200px;
      height: 100px;
      position: relative;
      animation: slideIn 3s ease forwards;
      opacity: 0;
    }
    p {
      width: 100%;
      font-size: 16px;
    }
  }
}
// 작은모바일
@media (max-width: 576px) {
  .system {
    margin: 10px;

    h3 {
      font-size: 20px;
      margin-top: 10px;
      padding: 10px 0;
    }
    img {
      width: 150px;
      height: 100px;
    }
    p {
      width: 100%;
      font-size: 14px;
    }
  }
}
