.content {
  display: flex;
  flex-direction: column;

  width: 100%;
  // max-height: 100%;
  outline: 1px dotted red;

  .sectorMenu {
    display: grid;
    grid-template-columns: repeat(8, minmax(calc(100% / 8), 1fr));
  }

  > div {
    flex: 1;
    overflow-y: auto;
    &::-webkit-scrollbar {
      background-color: blue;
    }
    &::-webkit-scrollbar-thumb {
      background-color: green;
    }
    &::-webkit-scrollbar-track {
      background-color: yellow;
    }
  }
}
