@import '/src/scss/mixins.scss';

.content {
  width: 100%;
  height: 100%;

  .sectorMenu {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    padding: 10px;

    li {
      text-align: center;

      > button {
        @include linearBtn();
        width: 100%;
        font-size: 16px;
      }
    }
  }

  .screen {
    flex: 1;
    padding: 20px;
    background-color: #ccc;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--common-color);
    }
    &::-webkit-scrollbar-track {
      background-color: #eee;
    }
  }
}
