@import '/src/scss/mixins.scss';

.content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 100%;
  height: calc(100vh - 64px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--common-color);
  }
  &::-webkit-scrollbar-track {
    background-color: #eee;
  }

  /* 모바일 */
  @media (max-width: 768px) {
    padding: 24px 50px;
    height: calc(100vh - 90px);
  }

  .sectorMenu {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    padding: 10px 0;

    /* 태블릿 */
    @media (max-width: 992px) {
      grid-template-columns: repeat(4, 1fr);
    }

    li {
      text-align: center;

      > button {
        @include linearBtn();
        width: 100%;
        font-size: 16px;

        /* 작은 모니터 */
        @media (max-width: 1200px) {
          padding: 8px;
        }

        /* 모바일 */
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
}
