.messageContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .dateHeader {
    display: flex;
    justify-content: left;
    text-align: center;
    margin: 10px 0;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: var(--common-color);
  }
  
  .messageContent {
    p {
      padding: 10px;
      border-radius: 10px;
      max-width: 300px;
      word-wrap: break-word;
      margin-bottom: 4px;
    }

  }
  
/* 메세지 시간을 본인 메시지와 관리자 메시지에 각각 적용 */

/* 관리자 메시지 */
.managerMessage {
  margin: 10px;
align-self: flex-end;
text-align: left;
p {
  background-color: var(--common-color);
}
}

.managerMessage .messageTime {
  display: flex;
justify-content: right;
}

/* 유저 메시지 */
.myMessage {
  margin: 10px;
  align-self: flex-start;
  text-align: left;
  p {
    background-color: var(--hover-color);
  }
}

.myMessage .messageTime {
  display: flex;
  text-align: left;
}