@import '/src/scss/mixins.scss';

.manualControl {
  display: flex;
  justify-content: space-between;
  outline: 1px dotted red;

  .content {
  }

  .setbtn {
    @include linearBtn();
    padding: 4px 16px;
    font-size: 24px;
  }

  .auto {
    @include gear();
  }
}
