@import '/src/scss/mixins.scss';

.dashBoard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 5fr;

  /* 태블릿 */
  @media (max-width: 992px) {
    grid-template-columns: 1fr 4fr;
  }

  /* 모바일 */
  @media (max-width: 768px) {
    position: relative;
    display: block;
  }
}

.alert {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--notice-color);
  border-bottom: 5px solid var(--accent-color);
  > div {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-size: 30px;
    > span {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--danger-color);
      font-size: 40px;
      > svg {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.harvest {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--common-color);
  border-bottom: 5px solid var(--accent-color);
  > div {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-size: 30px;
    > span {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--accent-color);
      font-size: 40px;
      > svg {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.entire {
  // margin: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  // gap: 10px;
  background-color: #55679c;
}

// 첫번째 라인
.first_line {
  margin-top: 20px;
  height: 160px;
  display: flex;
  gap: 10px;
  // border-radius: 8px;
  // .first_one {
  //   background-color: palegoldenrod;
  //   width: 50%;
  //   height: 150px;
  //   display: flex;
  //   .first_one_title {
  //     // 밀양
  //     width: 15%;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     flex-direction: column;
  //     gap: 5px;
  //     color: #fff;
  //     button {
  //       background-color: #fff;
  //     }
  //   }
  //   .one {
  //     display: grid;
  //     grid-template-columns: repeat(5, 1fr);
  //     border: 1px solid black;
  //     text-align: center;

  //     width: 70%;
  //     h2 {
  //       padding: 15px 0;
  //     }
  //     p {
  //       padding: 10px 0;
  //       color: #fff;
  //     }
  //   }
  // }
  // .first_two {
  //   background-color: aquamarine;
  //   width: 50%;
  //   height: 150px;
  // }
  // .next_title {
  //   width: 15%;
  //   text-align: center;
  //   padding: 20px 0;
  //   p {
  //     padding: 10px 0;
  //     color: #fff;
  //   }
  // }

  // 날씨
  // .first_two {
  //   display: grid;
  //   grid-template-columns: repeat(8, 1fr);
  //   .first_two_menu {
  //     border: 1px solid #fff;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: space-around;
  //     text-align: center;
  //   }
  // }
}

//두번째 라인
.second_line {
  display: flex;
  gap: 10px;
  // background-color: #55679c;

  .second_one {
    width: 60%;
    height: 100%;
    // background-color: pink;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .measurement_main {
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      width: 10%;
      gap: 10px;
      font-size: 30px;
      // justify-content: center;
      text-align: center;
    }

    .measurement_menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
      width: 100%;
      text-align: center;
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      h2 {
        padding: 15px 0;
      }
    }
    .measurement {
      height: 200px;
      background-color: aliceblue;
      display: flex;
    }
  }
  .img {
    width: 50%;
    background-color: black;
    height: 420px;
    padding: 10px;
    p {
      color: #fff;
      text-align: center;
      padding: 10px 0;
    }
    img {
      width: 100%;
      height: 90%;
    }
  }
  // 관수제어 등
  .control {
    background-color: skyblue;
    height: 200px;
    display: flex;
    margin-bottom: 20px;

    .control_main {
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      width: 10%;
      gap: 10px;
      font-size: 30px;
      // justify-content: center;
      text-align: center;
    }

    .control_menus {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
      width: 100%;
      text-align: center;
      .control_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}
.second_two {
  // background-color: #000;
  // width: 40%;
  // height: 100%;
  display: block;
  img {
    width: 600px;
    height: 400px;
  }
}
// 4번째
.four_line {
  display: flex;

  .four_one {
    background-color: burlywood;
    width: 70%;
    height: 200px;
  }
  .four_two {
    background-color: pink;
    width: 35%;
  }
}
