.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  input {
    border: 1px solid black;
  }
  span {
    color: red;
  }
  .lastConfirm {
    padding: 15px 15px 10px 15px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    // background-color: var(--common-color);
    &:hover {
      background-color: var(--hover-color);
    }
    margin: 10px 0 10px 0;
  }
  .check {
    display: flex;
    gap: 10px;
  }
}
