.container {
  text-align: center;
}

.main {
  font-family: var(--title-font);
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
  letter-spacing: 3px;
  background: url("../../assets/main/smartfarm3.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  div {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);

    h1 {
      font-size: 60px;
      font-weight: 500;
    }
    p {
      font-size: 22px;
    }
  }
  .scroll {
    position: absolute;
    font-size: 30px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.content_one {
  width: 100%;
  height: 65vh;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background: url("../../assets/main/content2.jpg") no-repeat right;
  // background-size: contain;
  position: relative;

  h1 {
    font-family: var(--title-font);
    font-size: 42px;
    color: var(--accent-color);
  }
  p {
    line-height: 1.5rem;
    font-size: 20px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../../assets/main/content2.jpg") no-repeat right;
    background-size: contain;
    opacity: 0.8;
    z-index: -1;
  }
}

.content_two {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  position: relative;

  h1 {
    font-family: var(--title-font);
    font-size: 36px;
    font-weight: 500;
    color: var(--hover-color);
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 1;
  }
}

.content_three {
  margin: 100px auto;
  width: 100%;
  height: 80vh;

  h1 {
    font-weight: 600;
    font-size: 40px;
    color: var(--hover-color);
  }
  img {
    width: 70%;
    height: 80%;
  }
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

  div {
    border: 2px solid black;
    width: 400px;
    height: 200px;
  }
}

.case_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case {
  display: flex;
  gap: 100px;

  div {
    width: 280px;
    height: 420px;
    border: 2px solid black;
  }
}
