.container {
  text-align: center;
}

.main {
  font-family: var(--title-font);
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
  letter-spacing: 3px;
  background: url("../../assets/main/smartfarm3.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  div {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);

    h1 {
      font-size: 60px;
      font-weight: 500;
    }
    p {
      font-size: 22px;
    }
  }
  .scroll {
    position: absolute;
    font-size: 36px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.content_one {
  width: 100%;
  height: 50vh;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background: url("../../assets/main/content2.jpg") no-repeat right;
  // background-size: contain;
  position: relative;

  h1 {
    font-family: var(--title-font);
    font-size: 42px;
    color: var(--accent-color);
  }
  p {
    line-height: 1.5rem;
    font-size: 20px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../../assets/main/content2.jpg") no-repeat right;
    background-size: contain;
    opacity: 0.8;
    z-index: -1;
  }
}

.content_two {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  position: relative;

  h1 {
    font-family: var(--title-font);
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top: 18%;
    left: 5%;
    z-index: 1;
    // opacity: 0;
    // transform: translateX(-100%);
    // animation: slideText 3s ease forwards;
  }

  // @keyframes slideText {
  //   to {
  //     opacity: 1;
  //     transform: translateX(0);
  //   }
  // }

  span {
    font-family: var(--title-font);
    font-size: 36px;
    font-weight: 500;
    color: var(--hover-color);
  }
}

.content_three {
  margin: 150px auto 0;
  width: 100%;
  height: 90vh;

  h1 {
    font-weight: 600;
    font-size: 46px;
    color: var(--hover-color);
    letter-spacing: 2px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
    height: 85%;
  }
  img {
    width: 290px;
    height: auto;

    // &:hover {
    //   transform: scale(1.04);
    //   transition: 0.5s ease;
    // }
  }
  .big {
    width: 310px;
    margin-bottom: 10px;
  }
}

.state_commu {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px 50px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../../assets/main/back7.png") no-repeat;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
  }

  h1 {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 28px;
    color: var(--accent-color);
    // color: #fff;
    font-family: var(--title-font);
  }
}
.state {
  height: 100%;
}
.map_chart {
  display: flex;
  align-items: center;
  gap: 100px;
}
.map {
  overflow: hidden;
}

.community {
  height: 100%;
  width: 400px;
  margin-top: 20px;

  // margin-right: 70px;
}
.commu {
  ul {
    border-radius: 4px;
    margin-top: 50px;
    padding: 15px 40px;
    text-align: start;
    background-color: #fff;
    box-shadow: var(--box-shadow);
  }
  li {
    margin: 15px auto;
    border-bottom: 2px solid var(--hover-color);
    padding: 4px;
    font-size: 14px;
    list-style-type: disc;
  }
  h2 {
    font-size: 18px;
    margin-top: 10px;
  }
}

.case {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 75%;
  }

  h1 {
    font-family: var(--title-font);
    font-weight: 500;
    color: var(--accent-color);
  }
  h4 {
    margin: 6px auto 40px;
  }
}

.service {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 80px auto 40px;

  button {
    width: 650px;
    background-color: var(--common-color);
    padding: 22px;
    border-radius: 9999px;
    color: #fff;
    font-size: 18px;
  }
}
