.back {
  padding: 10px;
  display: flex;
  justify-content: baseline;
  align-items: center;

  button {
    text-align: start;
    font-size: 25px;

    &:hover {
      color: var(--hover-color);
    }
    p {
      font-size: 20px;
    }
  }
}
