.container {
  padding: 30px;

  h2 {
    margin: 20px auto;
  }
  h4 {
    margin-top: 10px;
  }
}

.comment {
  padding: 10px;
  width: 100%;
}

.user {
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    margin-top: 10px;
    font-size: 12px;
    color: gray;
  }
  span {
    margin-left: 5px;
  }
  button {
    // margin-left: 10px;
    margin: 0 5px;
    font-size: 12px;
    color: gray;
    padding-bottom: 0;
    margin-top: 6px;
  }
}

.input {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  input {
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    width: 80%;
    padding: 20px;
  }
  button {
    padding: 30px;
    margin-left: 20px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 0.75px;

    &:hover {
      background-color: #eee;
    }
  }
}

.editMode {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 20px;

  input {
    width: 730px;
    border: 1px solid #eee;
    padding: 20px 10px;
    margin-right: 8px;
    border-radius: 8px;
    font-size: 14px;
  }
  button {
    padding: 20px 15px;
    border: 1px solid #ddd;
    margin-left: 3px;
    border-radius: 8px;

    &:hover {
      background-color: #eee;
    }
  }
}

.modal {
  width: 20%;
}
