.container {
  padding: 15px;
  padding-right: 0;

  h2 {
    margin: 20px auto;
    font-size: 20px;
  }
  h4 {
    font-family: "TheJansil";
    font-weight: 500;
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 18px;
    }
    h4 {
      font-size: 15px;
    }
  }
  @media (max-width: 576px) {
    h4 {
      font-size: 14px;
    }
  }
}

.comment {
  padding: 10px;
  width: 100%;
}

.user {
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    margin-top: 10px;
    font-size: 12px;
    color: gray;
  }
  span {
    margin-left: 5px;
  }
  button {
    // margin-left: 10px;
    margin: 0 5px;
    font-size: 12px;
    color: gray;
    padding-bottom: 0;
    margin-top: 6px;
  }
}

.input {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  input {
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    width: 78%;
    padding: 20px;
  }
  button {
    padding: 30px 20px;
    margin-left: 20px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    font-size: 15px;
    letter-spacing: 0.75px;

    &:hover {
      background-color: #eee;
    }
  }

  @media (max-width: 768px) {
    input {
      width: 73%;
    }
    button {
      font-size: 14px;
    }
  }
  @media (max-width: 576px) {
    input {
      width: 63%;
    }
    button {
      font-size: 13px;
      padding: 20px;
    }
  }
}

.editMode {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 20px;

  input {
    width: 730px;
    border: 1px solid #eee;
    padding: 20px 10px;
    margin-right: 8px;
    border-radius: 8px;
    font-size: 14px;
  }
  button {
    padding: 20px 15px;
    border: 1px solid #ddd;
    margin-left: 3px;
    border-radius: 8px;

    &:hover {
      background-color: #eee;
    }
  }
}

.modal {
  width: 20%;
}

.noComments {
  padding: 30px 30px 40px;
  text-align: center;
  color: gray;
}

.complainUser {
  text-align: center;
  margin-top: 30px;
  // font-weight: 800;
}
