.pagination {
  display: flex;
  list-style: none;
  padding: 0;

  li {
    margin: 0 5px;

    &.disabled {
      button {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    &.active {
      button {
        background-color: var(--hover-color);
        color: #fff;
        cursor: default;
      }
    }
  }

  .pageButton {
    background: none;
    border: 1px solid #ececec;

    color: #333;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: var(--hover-color);
      //   color: white;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

@media (max-width: 768px) {
  .pagination {
    display: flex;
    list-style: none;
    gap: 0;
    padding: 0;

    li {
      margin: 0;
      background-color: none;

      &.disabled {
        button {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }

      &.active {
        button {
          font-size: 16px;
          display: flex;
          justify-content: center;
          cursor: default;
          padding: 0;
        }
      }
    }

    .pageButton {
      background: none;
      border: none;
      color: #333;
      padding: 5px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        // background-color: var(--hover-color);
        background-color: #fff;
        color: var(--hover-color);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}

// 작은모바일
@media (max-width: 576px) {
  .pagination {
    display: flex;
    list-style: none;
    gap: 0;
    padding: 0;

    li {
      margin: 0;
      background-color: none;

      &.disabled {
        button {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }

      &.active {
        button {
          font-size: 14px;
          display: block;
          justify-content: none;
          cursor: default;
          padding: 0;
        }
      }
    }

    .pageButton {
      background: none;
      border: none;
      color: #333;
      padding: 0;
      cursor: pointer;
      width: 100%;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        // background-color: var(--hover-color);
        background-color: #fff;
        color: var(--hover-color);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}
