.sidebar {
  background-color: #ececec;
  // height: 100%;
  width: 20%;
  padding: 20px 8px;
  display: flex;
  flex-direction: column;
  // align-items: center;

  gap: 10px;
  // border-bottom: 1px solid black;
  .side_item {
    // border: 1px solid black;
    width: 100%;
    padding: 6px;
  }
  .title {
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
    // &:focus,
    // &:focus-visible {
    //   border-bottom: 3px solid skyblue;
    // }
  }
  .description {
    ul {
      margin: 8px;
    }
    li {
      padding: 8px 0 8px 6px;
      &:hover {
        color: var(--accent-color);
      }
      list-style-type: disc;
    }
  }
}
