@import '/src/scss/mixins.scss';

.sidebar {
  width: 20%;
  height: 100%;
  position: sticky;
  top: 20px;
  left: 0;

  .menu {
    width: 100%;

    li {
      padding: 16px;
      > button {
        // width: 100%;
        // padding: 20px;
        // font-size: 20px;

        // &:hover {
        // }
        font-size: 20px;
        @include packedBtn();
      }
    }
  }
}
