.container {
  position: fixed;
  height: 1060px;
  width: 240px;
  padding: 60px 20px 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 24px;
}
.item {
  font-size: 14px;
}
.itemmove {
  font-size: 16px;

  &:hover {
    color: var(--back-color);
  }
}
.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5%;

  span {
    color: var(--danger-color);
  }
}
