@import "/src/scss/mixins.scss";

.Modal {
  @include flexCenter();

  .customModal {
    background-color: white;
    // width: 50%;
    // height: 300px;
    display: flex;
    flex-direction: column;
    // border: 10px solid red;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
  }

  .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 20px;

    .outBtn {
      color: var(--common-color);
      font-size: 18px;
      &:hover {
        // background-color: var(--hover-color);
        color: var(--hover-color);
      }
    }
    .closeBtn {
      font-size: 18px;
      color: var(--danger-color);
      &:hover {
        color: var(--danger-hover-color);
      }
    }
  }
}
