.container {
  padding: 20px;
  text-align: center;
  margin: 30px;
}

.password {
  h2 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  input {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
  }
  p {
    font-size: 14px;
    color: gray;
    margin: 5px;
  }
}
