header {
  box-shadow: var(--down-shadow);
  background-color: var(--main-color);

  &.home {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: var(--main-color);
    transition: 0.3s linear;
    background-color: transparent;

    &:hover {
      background-color: var(--main-color);
      color: #333;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 24px 0;
}

.logo {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 30px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
