.contact {
  position: fixed;
  left: 5%;
  bottom: 5%;

  .btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 1;
    opacity: 0.8;

    button {
      background-color: var(--common-color);
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 10px;
      border-radius: 9999px;

      svg {
        font-size: 30px;
      }

      &::before {
        width: 0;
        transition: 0.3s width linear;
      }

      &:hover::before {
        content: "";
        display: block;
        width: 50px;
        font-size: 16px;
      }
    }
  }
}
