.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 200px;

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  input {
    border: 1px solid black;
  }
}
