@import '/src/scss/mixins.scss';

.nav {
  width: 16%;
  height: 100%;
  li {
    width: 100%;
    transition: 0.3s;

    > button {
      width: 100%;
      font-size: 20px;
      @include filledBtn($padding: 20px);
      position: relative;
      .length {
        position: absolute;
        color: var(--danger-color);
        font-size: 14px;
        top: 8px;
        right: 30px;
      }
    }
  }
}
