@import '/src/scss/mixins.scss';

.nav {
  width: 16%;
  outline: 1px dotted orange;
  li {
    width: 100%;
    transition: 0.3s;

    > button {
      width: 100%;
      font-size: 20px;
      @include filledBtn($padding: 20px);
    }
  }
}
