.first_one {
  height: 150px;
  display: flex;
  border-radius: 6px;
  outline: 1px dotted blue;
  .first_one_title {
    // 밀양
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }
  .one {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid black;
    text-align: center;

    width: 70%;
    h2 {
      padding: 15px 0;
    }
    p {
      padding: 10px 0;
    }
  }
  .next_title {
    width: 15%;
    text-align: center;
    padding: 20px 0;
    p {
      padding: 10px 0;
    }
  }
}
