@import '/src/scss/mixins.scss';

.header {
  .info {
    display: flex;
    padding: 20px;

    .title {
      display: flex;
      align-items: center;
      gap: 5px;

      .back {
        @include flexCenter();
        font-size: 30px;
        color: var(--common-color);

        &:hover {
          transform: rotate(360deg);
          color: var(--hover-color);
        }
      }

      h1 {
        font-family: var(--title-font);
        font-size: 24px;
        font-weight: 200;
      }
    }
  }
  > div {
    outline: 1px dotted red;
  }
}
