@import '/src/scss/mixins.scss';

.header {
  height: 45%;
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .title {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 5px;

      .back {
        @include flexCenter();
        font-size: 40px;
        color: var(--common-color);

        &:hover {
          transform: rotate(360deg);
          color: var(--hover-color);
        }
      }

      h1 {
        font-family: var(--title-font);
        font-size: 24px;
        font-weight: 200;
      }
    }
    .icons {
      display: flex;
      gap: 8px;

      > button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: var(--common-color);
        border: 1px solid var(--common-color);
        border-radius: 50%;
        font-size: 24px;
        overflow: hidden;

        > svg {
          position: relative;
          top: 0;
          transition: 0.3s;
        }

        &:hover {
          color: var(--main-color);
          border: 1px solid var(--hover-color);
          background-color: var(--hover-color);
          > svg {
            top: 4px;
            transform: scale(150%);
          }
        }
      }
    }
  }

  > div {
    outline: 1px dotted red;
  }
}
