@import '/src/scss/mixins.scss';

.header {
  height: max-content;
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);

  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 16px;

    /* 작은모바일 */
    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 8px;

      .title {
        flex: none !important;
        justify-content: center;
        width: 100%;
      }
    }

    .title {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 5px;

      .back {
        @include flexCenter();
        font-size: 32px;
        color: var(--common-color);

        &:hover {
          transform: rotate(360deg);
          color: var(--hover-color);
        }

        /* 모바일 */
        @media (max-width: 768px) {
          font-size: 24px;
        }
      }

      h1 {
        font-family: var(--title-font);
        font-size: 20px;

        /* 모바일 */
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
    }

    .icons {
      display: flex;
      gap: 8px;

      > button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: var(--common-color);
        border: 1px solid var(--common-color);
        border-radius: 50%;
        font-size: 20px;
        overflow: hidden;

        > svg {
          position: relative;
          top: 0;
          transition: 0.3s;
        }

        &:hover {
          color: var(--main-color);
          border: 1px solid var(--hover-color);
          background-color: var(--hover-color);
          > svg {
            top: 4px;
            transform: scale(150%);
          }
        }

        /* 모바일 */
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
}
