.container {
  display: flex;
  justify-content: center;
  width: 100%;
  .main {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .paylist {
    border: 1px solid black;
    width: 500px;
    padding: 10px;
  }
  .mainBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.payment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

td {
  text-align: center;
}
