.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.faq {
  border: 1px solid #ccc;
  max-width: 960px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0 0 0 / 20%);
  margin-bottom: 20px;
  padding: 0 8px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.description {
  border-top: 1px solid #d9d9d9;
  padding: 8px;
}
