.container {
  display: flex;
  flex-direction: column;
  padding: 3% 0 3% 0;
  .h1box {
    margin: 0;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5%;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    .h2 {
      margin: 0;
      font-size: 15px;
    }
  }
  h1 {
    font-weight: 500;
    margin-bottom: 1%;
  }
  a {
    &:hover {
      color: var(--common-color);
      text-decoration: underline;
    }
  }
  span {
    text-align: center;
    font-size: 20px;
  }

  p {
    display: block;
  }

  .googleBt {
    width: 40%;
    font-size: 9px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5% 0 0.5% 0;
    background-color: beige;
    border-radius: 5px;
    gap: 10px;
    &:hover {
      opacity: 0.6;
    }
    h2 {
      font-weight: bold;
    }
  }
  .searchText {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
.modaleContainer {
  margin: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 500px;
}
// /* 작은 모니터 */
// @media (max-width: 1200px) {
// }
// /* 태블릿 */
// @media (max-width: 992px) {
// }

// /* 모바일 */
// @media (max-width: 768px) {
// }

// /* 작은모바일 */
// @media (max-width: 576px) {
//   body {
//     font-size: 50%;
//   }
//   div {
//     font-size: 70%;
//   }
// }
