.map_chart {
  display: flex;
}

.map {
  margin-top: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  > svg {
    width: 500px;
    height: 600px;
    transform: scale(120%);
  }

  @media (max-width: 1200px) {
    width: 280px;
    height: 380px;
    > svg {
      width: 385px;
      height: 580px;
    }
  }
  @media (max-width: 980px) {
    margin: 40px 40px 0 30px;
    width: 300px;
    height: 400px;
    > svg {
      width: 350px;
      height: 600px;
    }
  }
  @media (max-width: 768px) {
    margin: 40px 10px 0;
  }
  @media (max-width: 576px) {
    margin: 40px 0;
    width: 280px;
    height: 380px;
    > svg {
      width: 350px;
      height: 480px;
    }
  }
  @media (max-width: 524px) {
    display: none;
  }
}

.sortBtns {
  button {
    margin-left: 5px;
    font-size: 14px;

    &:hover {
      color: var(--hover-color);
    }
  }
}

.content {
  h2 {
    margin-top: 5px;
    font-size: 16px;
  }
}

.chart {
  width: 300px;
  font-size: 14px;

  @media (max-width: 1200px) {
    width: 260px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 576px) {
    width: 240px;
  }

  @media (max-width: 524px) {
    width: 350px;
  }
  @media (max-width: 355px) {
    width: 300px;
  }
}
