.back {
  display: flex;
  justify-content: baseline;
  align-items: center;

  button {
    text-align: start;
    font-size: 25px;

    &:active {
      color: #fff;
    }
    p {
      font-size: 20px;
    }
  }
}

.main {
  border: 10px solid var(--common-color);
  display: flex;
  margin: 20px 30px;
  gap: 20px;

  border-radius: 8px;

  img {
    margin: 20px;
    width: 400px;
    height: 250px;
    border-radius: 12px;
  }
  .title {
    font-size: 20px;
    display: flex;
    justify-content: center;

    flex-direction: column;
    gap: 18px;
    span {
      padding: 0 20px;
      color: var(--common-color);
      font-size: 23px;
    }
    p {
      display: inline-block;
    }
  }
}
.title_item {
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
  gap: 20px;
  .no_explanation {
    color: gray;
  }
  .text_item {
    margin: 0 0 20px 20px;
    h1 {
      font-size: 25px;
    }
    h4 {
      color: var(--accent-color);
      font-size: 22px;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      margin-left: 10px;
    }
  }
}
// 로딩
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
}

// 모바일
@media (max-width: 768px) {
  .main {
    border: 5px solid var(--common-color);
    gap: 6px;
    width: 430px;
    margin: 0 0 0 20px;
    img {
      margin: 6px;
      width: 200px;
      height: 150px;
    }
    .title {
      font-size: 16px;
      gap: 10px;
      span {
        padding: 0 3px 0 0;

        font-size: 18px;
      }
      p {
        width: 100%;
      }
    }
  }
  .title_item {
    margin: 6px;
    gap: 8px;

    div {
      h1 {
        font-size: 23px;
        padding-top: 8px;
      }
    }

    .text_item {
      margin: 0;

      h4 {
        color: var(--accent-color);
        font-size: 20px;
        margin-bottom: 8px;
      }
      p {
        font-size: 18px;
        margin-left: 10px;
      }
    }
  }
}

//작은 모바일
@media (max-width: 576px) {
  .main {
    width: 100%;
    margin: 0;
    img {
      margin: 3px;
      width: 110px;
      height: 170px;
    }
    .title {
      font-size: 16px;
      gap: 10px;
      span {
        padding: 0 3px 0 0;

        font-size: 18px;
      }
      p {
        width: 100%;
      }
    }
  }
  .title_item {
    margin: 6px;
    gap: 8px;

    div {
      h1 {
        font-size: 20px;
      }
    }

    .text_item {
      margin: 0;

      h4 {
        font-size: 18px;
        margin: 6px 0;
      }
      p {
        font-size: 16px;
        margin-left: 0;
      }
    }
  }
}
