.back {
  display: flex;
  justify-content: baseline;
  align-items: center;

  button {
    text-align: start;
    font-size: 25px;

    &:active {
      color: #fff;
    }
    p {
      font-size: 20px;
    }
  }
}

.main {
  border: 10px solid var(--common-color);
  display: flex;
  margin: 20px 30px;
  gap: 20px;

  border-radius: 8px;

  img {
    margin: 20px;
    width: 400px;
    height: 250px;
    border-radius: 12px;
  }
  .title {
    font-size: 20px;
    display: flex;
    justify-content: center;

    flex-direction: column;
    gap: 18px;
    span {
      padding: 0 20px;
      color: var(--common-color);
      font-size: 23px;
    }
    p {
      display: inline-block;
    }
  }
}
.title_item {
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
  gap: 20px;
  .no_explanation {
    color: gray;
  }
  .text_item {
    margin: 0 0 20px 20px;
    h1 {
      font-size: 25px;
    }
    h4 {
      color: var(--accent-color);
      font-size: 22px;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      margin-left: 10px;
    }
  }
}
