.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
}
.weather {
  padding: 0 !important;
  border-bottom: 5px solid var(--accent-color);
  display: flex;

  .today {
    width: 25%;
    border-right: 3px solid var(--accent-color);
    border-top: 3px solid var(--accent-color);
    h2 {
      padding: 12px 0px 0px 12px;
      font-weight: 600;
    }
    .title {
      display: flex;
      justify-content: center;
      font-size: 20px;
      font-weight: 600;
    }

    .temperature {
      display: flex;
      justify-content: center;
      font-size: 20px;
      gap: 8px;
      margin-top: 6px;
    }
    .wind {
      // flex-direction: column;
      align-items: center;
      display: flex;
      gap: 8px;
      color: #48484a;
      padding: 8px;
      font-size: small;
      justify-content: center;

      .wind_title {
        display: flex;
      }
    }
    .today_time {
      display: flex;
      font-size: 20px;
      gap: 24px;
      justify-content: center;
      padding: 6px;

      .sunrise {
        display: flex;
        flex-direction: column;
        div {
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .sunset {
        display: flex;
        flex-direction: column;
        div {
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .weather_icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .precipitation_chance {
    color: #4f75ff;
    font-size: 14px;
  }

  .weather_menu {
    display: flex;
    // flex-wrap: nowrap;
    // overflow: auto;
    flex-direction: column;
    flex: 1;
    .mr_today {
      flex: 2;
      width: 100%;
      display: flex;
      border: 3px solid var(--accent-color);
      border-left: none;
      border-right: none;
      .forecast_item {
        border-right: 2px solid var(--accent-color);
        display: flex;
        font-size: 20px;

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex: 1;
        .title {
          font-size: 18px;
          display: flex;
          align-items: center;
          gap: 6px;
        }
        &:last-child {
          border: none;
        }
      }
    }

    .next_day {
      flex: 1.5;
      display: flex;
      .forecast_item {
        border-right: 2px solid var(--accent-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        &:last-child {
          border: none;
        }

        .temp_text {
          font-size: 16px;
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }
}
/* 작은 모니터 */
@media (max-width: 1200px) {
  .weather {
    .today {
      .wind {
        gap: 0;
      }
    }
  }
}
/* 태블릿 */
@media (max-width: 992px) {
  .weather {
    .today {
      h2 {
        font-size: 20px;
      }
      .temperature {
        font-size: 18px;
      }
      .wind {
        flex-direction: column;
      }
      .today_time {
        display: flex;
        font-size: 20px;
        gap: 24px;
        justify-content: center;
        padding: 6px;

        .sunrise {
          display: flex;
          flex-direction: column;
          div {
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
          }
        }

        .sunset {
          display: flex;
          flex-direction: column;
          div {
            text-align: center;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .weather_icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .precipitation_chance {
      color: #4f75ff;
      font-size: 14px;
    }

    .weather_menu {
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
      flex-direction: column;
      flex: 1;
      .mr_today {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        .forecast_item {
          font-size: 16px;
          padding: 0 10px;
          .title {
            font-size: 18px;
            flex-direction: column;
          }
          &:last-child {
            border: none;
          }
        }
      }

      .next_day {
        .forecast_item {
          .temp_text {
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .weather {
    .today {
      .temperature {
        font-size: 18px;
      }
      .wind {
        flex-direction: column;
      }
      .today_time {
        display: flex;
        font-size: 20px;
        gap: 16px;
        justify-content: center;
        padding: 6px;

        .sunrise {
          display: flex;
          flex-direction: column;
          div {
            font-size: 16px;
            text-align: center;
          }
        }

        .sunset {
          display: flex;
          flex-direction: column;
          div {
            text-align: center;
            font-size: 16px;
          }
        }
      }
      .weather_icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .precipitation_chance {
      color: #4f75ff;
      font-size: 14px;
    }

    .weather_menu {
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
      flex-direction: column;
      flex: 1;
      .mr_today {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        .forecast_item {
          font-size: 16px;
          padding: 0 10px;

          .title {
            font-size: 18px;
            flex-direction: column;
          }
          &:last-child {
            border: none;
          }
        }
      }

      .next_day {
        .forecast_item {
          .temp_text {
            font-size: 14px;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
  }
  .weather {
    padding: 0 !important;
    border-bottom: 5px solid var(--accent-color);
    display: flex;
    flex-direction: column;

    .today {
      width: 100%;
      display: flex;
      justify-content: center;
      border-right: 3px solid var(--accent-color);
      border-top: 3px solid var(--accent-color);
      h2 {
        padding: 12px 0px 0px 12px;
        font-weight: 600;
      }
      .title {
        display: block;
        // justify-content: center;
        font-size: 18px;
      }
      // .weather_bundle {
      //   display: flex;
      // }

      .temperature {
        display: flex;
        justify-content: center;

        font-size: 16px;
        gap: 8px;
        margin-top: 6px;
      }
      .wind {
        // flex-direction: column;
        align-items: center;
        display: flex;
        gap: 8px;
        color: #48484a;
        padding: 8px;
        font-size: small;
        justify-content: center;

        .wind_title {
          display: flex;
        }
      }
      .today_time {
        display: flex;
        font-size: 20px;
        gap: 10px;
        justify-content: center;
        padding: 6px;

        .sunrise {
          display: flex;
          flex-direction: column;
          div {
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .sunset {
          display: flex;
          flex-direction: column;
          div {
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .weather_icon {
        display: block;
        width: 150px;
        svg {
          width: 100%;
          display: flex;
        }
        // justify-content: center;
        // align-items: center;
      }
    }
    .precipitation_chance {
      color: #4f75ff;
      font-size: 14px;
    }

    .weather_menu {
      display: flex;
      // flex-wrap: nowrap;
      // overflow: auto;
      flex-direction: column;
      flex: 1;
      .mr_today {
        flex: 2;
        width: 100%;
        display: flex;
        border: 3px solid var(--accent-color);
        border-left: none;
        border-right: none;
        .forecast_item {
          border-right: 2px solid var(--accent-color);
          display: flex;
          font-size: 14px;

          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          flex: 1;
          .title {
            font-size: 18px;
            display: flex;
            align-items: center;
            gap: 6px;
          }
          &:last-child {
            border: none;
          }
        }
      }

      .next_day {
        flex-wrap: nowrap;
        overflow: auto;
        flex: 1.5;
        display: flex;
        .forecast_item {
          padding: 0 10px;
          border-right: 2px solid var(--accent-color);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex: 1;
          &:last-child {
            border: none;
          }

          .temp_text {
            font-size: 10px;
            display: flex;
            align-items: center;
            gap: 0px;
          }
        }
      }
    }
  }
}
