.menu {
  .menu_bar {
    display: flex;

    width: 900px;
    padding: 20px;
    align-items: center;
    text-align: center;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    background-color: var(--board-color);
    font-size: 18px;
    margin-bottom: 5px;
  }
  .menu_number {
    width: 40px;
  }
  .title {
    width: 70%;
    text-align: center;
  }
  .name {
    width: 30%;
    text-align: center;
  }
  .date {
    width: 150px;
    text-align: center;
  }
  .check {
    width: 15%;
    text-align: center;
  }
  .menu_list {
    display: flex;
    justify-content: space-between;
  }
}
//작은 모니터
@media (max-width: 1200px) {
  .menu {
    .menu_bar {
      width: 800px;
    }
  }
}

/* 모바일 */
@media (max-width: 768px) {
  .menu {
    .menu_bar {
      width: 700px;
    }
  }
}

/* 작은모바일 */
@media (max-width: 576px) {
  .menu {
    .menu_bar {
      width: 100%;
      padding: 10px;
      border: 1px solid #e2e2e2;
      border-radius: 10px;
      background-color: var(--board-color);
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
  .posts_main {
    font-size: 14px;
  }
}
