.control {
  padding: 20px;
  border: 2px solid #ccc;
  position: relative;
  .name {
    display: flex;
    font-size: 20px;
  }
  .buttons {
    position: absolute;
    right: 5px;
    top: 10px;
    display: flex;
    gap: 5px;
    span {
      border: 1px solid #ccc;
      padding: 5px;
      border-radius: 5px;
    }
  }
}
