// 제목
@font-face {
  font-family: 'SB_Aggro';
  font-weight: 300;
  src: url('../fonts/SB_Window_Font/SB_Aggro_L.ttf') format('truetype');
}
@font-face {
  font-family: 'SB_Aggro';
  font-weight: normal;
  src: url('../fonts/SB_Window_Font/SB_Aggro_M.ttf') format('truetype');
}
@font-face {
  font-family: 'SB_Aggro';
  font-weight: 700;
  src: url('../fonts/SB_Window_Font/SB_Aggro_B.ttf') format('truetype');
}

// 본문
@font-face {
  font-family: 'TheJamsil';
  font-weight: 100;
  src: url('../fonts/The_Jamsil_TTF_2024/The_Jamsil_1_Thin.ttf')
    format('truetype');
}
@font-face {
  font-family: 'TheJamsil';
  font-weight: 300;
  src: url('../fonts/The_Jamsil_TTF_2024/The_Jamsil_2_Light.ttf')
    format('truetype');
}
@font-face {
  font-family: 'TheJamsil';
  font-weight: normal;
  src: url('../fonts/The_Jamsil_TTF_2024/The_Jamsil_3_Regular.ttf')
    format('truetype');
}
@font-face {
  font-family: 'TheJamsil';
  font-weight: 500;
  src: url('../fonts/The_Jamsil_TTF_2024/The_Jamsil_4_Medium.ttf')
    format('truetype');
}
@font-face {
  font-family: 'TheJamsil';
  font-weight: 700;
  src: url('../fonts/The_Jamsil_TTF_2024/The_Jamsil_5_Bold.ttf')
    format('truetype');
}
@font-face {
  font-family: 'TheJamsil';
  font-weight: 900;
  src: url('../fonts/The_Jamsil_TTF_2024/The_Jamsil_6_ExtraBold.ttf')
    format('truetype');
}
