@import url("https://webfontworld.github.io/TheJamsil/TheJamsil.css");

:root {
  --main-color: #FCF8F3;
  --common-color: #A2CA71;
  --accent-color: #387F39
  --hover-color: #669900;
  --box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  --font-family: "TheJamsil";
}
:flexbox(#root) {
  display: flex;
  flex-direction: column;
}

body {
  height: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}
.global_btn {
  padding: 20px;
}

//
.page {
  text-align: center;

  @media (min-width: 768px) {
  }
}

//
.container {
  margin: 0 auto;

  @media (min-width: 576px) {
  }
  @media (min-width: 990px) {
  }
}

.form_container {
  height: auto;
  margin: 0 auto;

  a {
    color: var(--main-color);

    &:hover {
      color: var(--second-color);
      cursor: pointer;
      transition: 0.3s all ease;
    }
  }

  @media (min-width: 576px) {
    width: 70%;
  }
  @media (min-width: 768px) {
    width: 60%;
  }
  @media (min-width: 992px) {
    width: 30%;
  }
}
