@import './font.scss';

:root {
  --main-color: #f8fcfa;
  --back-color: #fff5e4;
  --common-color: #8adab2;
  --accent-color: #4b9f9e;
  --hover-color: #00a76b;
  --notice-color: #ff9100;
  --notice-hover-color: #d87200;
  --danger-color: #ee4e4e;
  --danger-hover-color: #ca2b34;
  --box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  --up-shadow: 0px -3px 4px 0 rgba(0, 0, 0, 0.15);
  --down-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.15);
  --main-font: 'TheJamsil', sans-serif;
  --title-font: 'SB_Aggro', sans-serif;
  --board-color: #c4f2da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s all linear;
}

li {
  list-style-type: none;
}

body {
  font-family: var(--main-font);
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

main {
  min-height: 100vh;
}

button,
input {
  // appearance: none;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: var(--main-font);
  transition: 0.3s all linear;
}

select {
  font-family: var(--main-font);
}

button {
  cursor: pointer;
}

.logo-icon {
  width: 50px;
}
p {
  line-height: 1.4;
}

#root {
  position: relative;
}
