.more {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  button {
    color: #686d76;
    box-shadow: var(--down-shadow);
    font-size: 25px;
    padding: 10px 40px;
    width: 100%;
  }
}
.item {
  border: 1px solid pink;
  border-radius: 8px;

  padding: 10px;

  .item_img {
    display: flex;
    justify-content: center;
    img {
      width: 250px;
      height: 200px;
    }
  }
  .item_name {
    display: flex;
    padding: 10px 5px;
    justify-content: space-between;
    font-size: 16px;
  }

  .item_list {
    display: flex;
  }
  .name {
    &:hover {
      color: var(--hover-color);
    }
  }
}
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
