.container {
  display: flex;
  justify-content: center;
}
.headers {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 20px;
  box-shadow: var(--box-shadow);
  padding: 30px;
  width: 40%;
  input {
    border: 1px solid black;
    font-size: 16px;
    outline: none;
    padding: 5px;
    border: 1px solid rgb(138, 138, 138);
    box-shadow: var(--box-shadow);
    width: 100%;
  }
  .proTitle {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 5px;
    align-items: center;
    padding: 5%;
    width: 100%;
    box-shadow: var(--box-shadow);
    transition: 0.5s ease;
    &:hover {
      background-color: var(--hover-color);
    }
  }
  .name {
    display: flex;
  }
  button {
    font-size: 14px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 2% 0 2% 0;
    width: 20%;
    background-color: var(--common-color);
    &:hover {
      background-color: var(--hover-color);
    }
  }
  .file {
    border: none;
  }
  > div {
    width: 100%;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    width: 100%;
    position: relative;
    margin-right: 1%;
    span {
      position: absolute;
      font-size: 14px;
      left: 0;
      right: 80%;
      text-align: center;
      padding: 8px 0 9px 0;
      border-radius: 5px 0 0 5px;
      background-color: var(--common-color);
    }
    .namePosition {
      transform: translateX(125%);
    }
  }
  .double {
    display: flex;
    gap: 10px;
  }
  .Change {
    &:hover {
      background-color: var(--back-color);
    }
  }

  .password {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .complete {
    padding: 4% 0 4% 0;
    background-color: var(--common-color);
    width: 100%;

    &:hover {
      box-shadow: none;
      background-color: var(--hover-color);
    }
  }
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
