.container {
  display: flex;
  justify-content: center;
}
.headers {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 20px;
  box-shadow: var(--box-shadow);
  padding: 30px;
  input {
    border: 1px solid black;
    font-size: 16px;
    outline: none;
    padding: 5px;
    width: 31.8%;
    border: 1px solid rgb(138, 138, 138);
    box-shadow: var(--box-shadow);
  }
  .proTitle {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 5px;
    align-items: center;
    padding: 5%;
    width: 100%;
    box-shadow: var(--box-shadow);
    transition: 0.5s ease;
    &:hover {
      background-color: var(--hover-color);
    }
  }
  .name {
    display: flex;
  }
  button {
    font-size: 14px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 2% 0 2% 0;
    width: 100px;
    background-color: var(--common-color);
    &:hover {
      background-color: var(--hover-color);
    }
  }
  .file {
    border: none;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--box-shadow);
    width: 300px;
    padding: 0 10px 0 10px;
  }
  .double {
    display: flex;
    gap: 10px;
  }
  .Change {
    &:hover {
      background-color: var(--back-color);
    }
  }

  .password {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .complete {
    padding: 4% 0 4% 0;
    background-color: var(--common-color);
    width: 100%;

    &:hover {
      box-shadow: none;
      background-color: var(--hover-color);
    }
  }
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
