@import '/src/scss/mixins.scss';

.notFound {
  @include flexCenter();
  flex-direction: column;
  gap: 32px;
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);

  .content {
    > h1 {
      @include flexCenter();
      gap: 16px;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 4px;
      }

      .icon {
        @include flexCenter();
        padding: 8px;
        border-radius: 50%;
        font-size: 80px;
        color: #fff;
        background-color: var(--danger-color);

        @media (max-width: 576px) {
          font-size: 50px;
        }
      }

      .error {
        @include flexCenter();
        padding-top: 20px;
        font-size: 100px;
        color: var(--notice-color);

        @media (max-width: 768px) {
          padding-top: 0;
        }
        @media (max-width: 576px) {
          font-size: 60px;
        }
      }
    }

    .desc {
      @include flexCenter();
      gap: 8px;
      font-size: 30px;
      color: #555;

      @media (max-width: 576px) {
        margin-top: 24px;
        font-size: 20px;
      }

      .icon {
        @include flexCenter();
      }
    }
  }

  .btns {
    @include flexCenter();
    gap: 24px;

    > button {
      @include linkEffect();
      font-size: 16px;
    }

    > span {
      color: #ccc;
    }
  }
}
